/*
    background
*/
canvas {
    margin: 0;
    padding: 0;
}

#back {
    z-index: -2;
    position: absolute;
}

#game {
    z-index: -1;
}


/*
    main
*/

body {
    text-rendering: optimizeLegibility;
    font-size: 28px;
    font-family: 'Arial';
    background-color: #1b1a1a;
}

img {
    width: 400pt;
    margin-left: 20pt;
    border: solid white 10pt;
    margin: 10pt;
}

a {
    color: #bfbfbf;
    text-decoration: none;
}

a:focus, a:hover {
    cursor: pointer;
    color: #bfbfbf;
    text-decoration: none;
}

.container {
    z-index: 2 !important;
    position: absolute !important;
    margin-top: 111px;
    width: 100%;
}

/*
    JSON
*/

.json {
    color: #bfbfbf;
    margin-top: 20pt;
    margin-left: 10pt;
    font-size: 18px;
    margin-bottom: 40pt;
}

.curly-bracket-start {
    color: #2e6da4;
}

.curly-bracket-end {
    color: #2e6da4;
    margin-left: 450px;
    margin-top: -10px;
}

.colon {
    color: #2e6da4;
}

.json-number {
    color: #2e6da4;
}
