li {
    list-style-type: none;
}

a {
    color: #4DD0E1;
    text-decoration: none;
}

a:focus, a:hover {
    cursor: pointer;
    color: #42899a;
    text-decoration: none;
}

body {
    background-color: #fff;
    text-rendering: optimizeLegibility;
    margin-top: 70px;
}

blockquote {
    color: #333;
    font-family: 'Open Sans', serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 17px;
}

.content {
    max-width: 1100px;
}

.blockquote-margin-correct {
    margin-left: -15px;
}

.foto {
    width: auto;
    max-height: 500px;
}

.item-foto {
    padding-top: 15px;
    display: inline-block;
}