html,
body {
    height: 90%;
    margin: 0 auto;
    background-color: #eee;
}

body {
    padding: 0;
    font: 30px 'Open Sans', Helvetica, Arial, sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

button:focus {
    outline: 0;
}

a {
    text-decoration: none;
    color: #009688;
}

.barley-break {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    color: #009688;
    border: 3px solid #006b61;
    padding: 5px;
}

.barley-break td {
    width: 100px;
    height: 100px;
    text-shadow: rgba(255, 255, 255, 0.2) 1px 1px 2px;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border: 3px solid #006b61;
}

.barley-break td:hover {
    background: #b2dfdb;
}

.barley-break td.empty {
    cursor: default;
    background-color: #006b61;
}

.barley-break td.empty:hover {
    background: #006b61;
}

.scoreboard {
    color: #009688;
    margin: 0;
    padding: 0 0 10px 0;
}

.container {
    margin: 40px 0 0 0;
    padding: 0;
    background-color: #eee;
    width: 100%;
    height: 650px;
}

.scoreboard {
    right: 150px;
}

.time {
    border: none;
    color: #009688;
    font: 30px 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: #eee;
}

.restart {
    color: #ffffff;
    font: 15px 'Open Sans', Helvetica, Arial, sans-serif;
    cursor: pointer;
    background-color: #009688;
    width: 150px;
    height: 40px;
    border: none;
    font-weight: 100;
    margin: 30px auto;
    display: block;
}

.restart:hover {
    background-color: #006b61;
}

.p-info {
    color: #009688;
    font: 14px 'Open Sans', Helvetica, Arial, sans-serif;
}

.border {
    display: table;
    margin: 0 auto;
    border: 20px solid #009688;
}

.victory {
    color: #ffffff;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 107, 97, 0.99);
    text-align: center;
    padding: 56px 0 0 0;
    position: fixed;
    top: 232px;
    box-shadow: 0 16px 1px 0 rgba(0, 0, 0, 0.38);
}

.victory_none {
    display: none;
}