html,
body {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    background-color: #eee;
}

body {
    padding: 0;
    font: 30px 'Open Sans', Helvetica, Arial, sans-serif;
}

button:focus {
    outline: 0;
}

a {
    text-decoration: none;
    color: #009688;
}

.barley-break {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    color: #009688;
    border: 5px solid #009688;
    padding: 5px;
}

.barley-break td {
    width: 100px;
    height: 100px;
    text-shadow: rgba(255, 255, 255, 0.2) 1px 1px 2px;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border: 1px solid;
}

.barley-break td:hover {
    background: #b2dfdb;
}

.barley-break td.empty {
    cursor: default;
    background-color: #006b61;
}

.barley-break td.empty:hover {
    background: #ffffff;
}

.scoreboard {
    color: #009688;
    margin: 0;
    padding: 0 0 10px 0;
}

.container {
    margin: 40px 0 0 0;
    padding: 0;
    background-color: #eee;
}

.scoreboard {
    right: 150px;
}

.time {
    border: none;
    color: #009688;
    font: 30px 'Open Sans', Helvetica, Arial, sans-serif;
    background-color: #eee;
}

button {
    color: #009688;
    font: 15px 'Open Sans', Helvetica, Arial, sans-serif;
    cursor: pointer;
    background-color: #ffffff;
    float: right;
    margin-right: 200px;
    width: 130px;
    height: 32px;
    border: 1px solid;
    border-radius: 5px;
}

.p-info {
    color: #009688;
    font: 14px 'Open Sans', Helvetica, Arial, sans-serif;
}